.cardWrapper{
 height: 600px;
 width: 1140px;
 background-color:white;
  border: 3px solid black;
margin: 0 auto;
}



/* HEADER */

.cardHeader{
  border-bottom: 3px solid black;
  margin-bottom: 85px;
  background-color: burlywood;
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

.cardHeaderColOne{
  padding: 10px;
background-color: lightcoral;
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
}

.cardHeaderColTwo{
  background-color: rgb(73, 152, 133);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
}

.cardHeaderColThree{
  background-color: limegreen;
  padding: 5px;
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
}

.cardHeaderThumbNail {
  height: 100px;
}

/* BODY */

.cardBody{

  background-color: rgb(205, 203, 163);
  height: 400px;
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.cardBodyColOne {
  background-color: rgb(139, 112, 164);
padding: 0px 10px;
}

.cardBodyColTwo {
 background-color: red;

}

.embeddedVideoPlayer {
  width: 500px;
  margin-top: 50px;
}

.reactPlayer{
  margin-right: 20;
}



/* FOOTER */

.cardFooter{
  /* margin-top: 30; */
  background-color: lavender;
  height:70px;
}

.footerText {
 margin-top: 0;
 margin-Bottom: 0,
}